body{
  background-color: rgb(247, 244, 238);
}
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(4, 52, 13);
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;  
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color: rgb(10, 169, 105);
          }

          .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(4, 52, 13);
            color: white;
            text-align: center;
         }